<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.movieservice.mapper.mappers.CinemaOrderMapper">
  <resultMap id="BaseResultMap" type="com.dl.movieservice.model.CinemaOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_number" jdbcType="BIGINT" property="orderNumber" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="ticket_price" jdbcType="INTEGER" property="ticketPrice" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="actual_payment" jdbcType="INTEGER" property="actualPayment" />
    <result column="seat_id" jdbcType="INTEGER" property="seatId" />
    <result column="shows_no" jdbcType="TIMESTAMP" property="showsNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
</mapper>