<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.movieservice.mapper.mappers.FilmStarsMapper">
  <resultMap id="BaseResultMap" type="com.dl.movieservice.model.FilmStars">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
</mapper>